extends ./layout

block content
  h1 No more leftovers.
  p.lead
    | Are you a registered charity or food source? Use Food Recycler to buy or sell leftover foods fast and easily.
  a.btn.btn-lg.btn-primary(href='/users/register', role='button') Register now »


