extends layout

block content
  .jumbotron
    h2 Your foods 
    p.lead Hello #{name}! Track the status of your sold foods here.
  if posts
   each post, i in posts
     .post
       h2 #{post.title}
       p Status : #{post.isSold} (Updated on: #{moment(date).format("DD-MM-YYYY HH:mm")})

       if post.isSold == 'Sold'
         h3 Purchased by : 
         h3 Contact details :
       .button-right
         input.btn.btn-danger(type= 'delete', name='delete', value ='Delete')



