extends layout

block content
  h2.page-header Register
  p Please fill in the form below.
  if errors
    each error, i in errors
      div.alert.alert-danger #{error.msg}
  form(method='post', action='/users/register', enctype='multipart/form-data')
    .form-group
     label Company name
     input.form-control(name='name', type='text', placeholder='Enter company name')
    .form-group
     label Company address
     input.form-control(name='address', type='text', placeholder='Enter company address')
    .form-group
     label Company phone number
     input.form-control(name='phone', type='text', placeholder='Enter comapany phone number')
    .form-group
     label Company email address
     input.form-control(name='email', type='text', placeholder='Enter company email address')
    .form-group
     label Password
     input.form-control(name='password', type='text', placeholder='Enter password')
    .form-group
     label Confirm password
     input.form-control(name='password2', type='text', placeholder='Confirm password')
    .form-group
     label Charity/Food Source certification 
     input.form-control(name='certification', type='file')
    input.btn.btn-primary(type= 'submit', name='submit', value ='Register')